{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">

		<title>Profile</title>
	</head>

	<body>
		<h1>Attempts of "{{ test.test_name }}" </h1>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Date</th>
		      <th scope="col">Right answers/questions</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
            {% for mytest in mytests %}
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>{{ mytest.date }}</td>
		      <td>
		      	<a href="">
		      		doesn't work
		      	</a>
		      </td>
		      <td>
		      	<a href="/tests/{{ test.id }}/result/{{ mytest.id }}">
		      		Look
		      	</a>
		      </td>
		    </tr>
		    {% endfor %}



		  </tbody>
		</table>
	
	</body>
</html>