{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">

		<title>Profile</title>
	</head>

	<body>
		<h1>Attempts //name of test here// </h1>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Date</th>
		      <th scope="col">Right answers/questions</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>01.04.19</td>
		      <td>
		      	<a href="">
		      		12/20 
		      	</a>
		      </td>
		      <td>
		      	<a href="">
		      		Look
		      	</a>
		      </td>
		    </tr>
		    
		    <tr>
		      <th scope="row">2</th>
		      <td>01.04.19</td>
		      <td>
		      	<a href="">
		      		12/20 
		      	</a>
		      </td>
		      <td>
		      	<a href="">
		      		Look
		      	</a>
		      </td>
		    </tr>

		    <tr>
		      <th scope="row">3</th>
		      <td>01.04.19</td>
		      <td>
		      	<a href="">
		      		12/20 
		      	</a>
		      </td>
		      <td>
		      	<a href="">
		      		Look
		      	</a>
		      </td>
		    </tr>


		  </tbody>
		</table>
	
	</body>
</html>