{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">

		<title>Profile</title>
	</head>

	<body>
		<h1>My created tests</h1>
        <div class="mt-1 ml-1 mb-1">
            <a href="{% url 'profile' %}">
            <button type="button" class="btn btn-primary"> Go to profile</button>
            </a>
        </div>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name of test</th>
                <th scope="col">Number of created questions</th>
		      <th scope="col">Number of questions</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
          {% for test in tests %}
		    <tr>
		      <th scope="row">{{ test.id}}</th>
		      <td>{{ test.test_name}}</td>
            <td>
                {{ test.questions.all.count}}


            </td>
		      <td>{{ test.questions_number}}</td>
		      <td>
		      	<a href="/my_created_tests/{{test.id }}/questions">
		      		Look 
		      	</a>
		      </td>
		    </tr>
          {% endfor %}
		  </tbody>

		</table>
	
	</body>
</html>