{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/profile.css' %}">

		<title>Profile</title>
	</head>

	<body class="text-center">

		<div class="container">
			{% if user.is_authenticated %}
			  <p>Welcome, {{ user.first_name }}. Thanks for being with us!</p>
			{% else %}
			  <p>Добро пожаловать, незнакомец. Кто вы?</p>
			{% endif %}


			<div class="row-center mt-1">
				<a href="{% url 'tests' %}">
                    <button type="button" class="btn btn-primary profile-btn" >Pass the test</button>
				</a>
			</div>
			<div class="row-center mt-1">
				<a href="{% url 'create_test1' %}">
                    <button type="button" class="btn btn-primary profile-btn">Create a test</button>
				</a>
			</div>
			<div class="row-center mt-1">
				<a href="{% url 'my_created_tests' %}">
                    <button type="button" class="btn btn-primary profile-btn">My created tests</button>
				</a>
			</div>
			<div class="row-center mt-1">
				<a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-danger profile-btn">Log out</button>
				</a>
			</div>



			
		</div>	
	</body>
</html>