{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/profile.css' %}">

		<title>Profile</title>
	</head>

	<body class="text-center">

		<div class="container">

			<div class="alert alert-primary" role="alert">
			  Name: Azat
			</div>

			<div class="alert alert-primary" role="alert">
			  Last Name: Valeev
			</div>


			<div class="alert alert-primary" role="alert">
			  e-mail: azat.valeev@gmail.com
			</div>

			<div class="row-center">
				<a href="/tests_page">
					<button type="button" class="btn btn-success btn-lg btn-block">Pass the test</button>
				</a>
			</div>
			<div class="row-center">
				<a href="/create_test1">
					<button type="button" class="btn btn-success btn-lg btn-block">Create a test</button>
				</a>
			</div>
			<div class="row-center">
				<a href="#">
					<button type="button" class="btn btn-success btn-lg btn-block">My created tests</button>
				</a>
			</div>
			
		</div>	
	</body>
</html>