{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/profile.css' %}">

		<title>Profile</title>
	</head>

	<body class="text-center">

		<div class="container">
			{% if user.is_authenticated %}
			  <p>Добро пожаловать, {{ user.first_name }}. Спасибо, что не забываете нас.</p>
			{% else %}
			  <p>Добро пожаловать, незнакомец. Кто вы?</p>
			{% endif %}
			<div class="alert alert-primary" role="alert">
			  Name: {{request.user.first_name}}
			</div>

			<div class="alert alert-primary" role="alert">
			  Last Name: {{request.user.last_name}}
			</div>


			<div class="alert alert-primary" role="alert">
			  e-mail: {{request.user.email}}
			</div>

			<div class="row-center">
				<a href="{% url 'tests' %}">
					<button type="button" class="btn btn-success btn-lg btn-block">Pass the test</button>
				</a>
			</div>
			<div class="row-center">
				<a href="{% url 'create_test1' %}">
					<button type="button" class="btn btn-success btn-lg btn-block">Create a test</button>
				</a>
			</div>
			<div class="row-center">
				<a href="{% url 'my_created_tests' %}">
					<button type="button" class="btn btn-success btn-lg btn-block">My created tests</button>
				</a>
			</div>
			<div class="row-center">
				<a href="{% url 'logout' %}">
					<button type="button" class="btn btn-success btn-lg btn-block">Log out</button>
				</a>
			</div>
			
		</div>	
	</body>
</html>