{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/start_test.css' %}">

		<title>Start test</title>
	</head>

	<body class="text-center">

	<div class="container mt-5">

          
          <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">{{ test.test_name }}</h5>
			    <a href="/tests/{{test.id}}/question" class="btn btn-primary" style="height: 40px; width:200px">Start test</a>
                  <div class="mt-1 ml-1 mb-1">
                        <a href="{% url 'tests' %}" class="btn btn-danger" style="height: 40px; width:200px"> Go back to tests page</a>
                  </div>
			  </div>
			</div>
          </div>

    
    </div>
		

	</body>
</html>