{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/start_test.css' %}">

		<title>Start test</title>
	</head>

	<body class="text-center">

	<div class="container">
       <div class="row padded">
          
          <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
            <div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">//here test name//</h5>
			    <a href="/tests/{{testid}}/question" class="btn btn-primary">Start test</a>
			  </div>
			</div>
          </div>
          
    </div>                   
    
    </div>
		

	</body>
</html>