{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/test_creation.css' %}">

		<title>Test Creation</title>
	</head>

	<body >
		<div class="container">
			<form>
				
				<div class="question">
					<h3>Question №1</h3>
				  <div class="form-group">
				    <label>Text of question</label>
				    <input type="text" name="text_of_question" class="form-control" placeholder="Enter the text of question">
				  </div>
				  <div class="form-group">
				    <label>Variant 1</label>
				    <input type="text" name="variant1" class="form-control" >
				  </div>
				  <div class="form-group">
				    <label>Variant 2</label>
				    <input type="text" name="variant2" class="form-control" >
				  </div>
				  <div class="form-group">
				    <label>Variant 3</label>
				    <input type="text" name="variant3" class="form-control" >
				  </div>
				  <div class="form-group">
				    <label>Variant 4</label>
				    <input type="text" name="variant4" class="form-control" >
				  </div>
				  <div class="form-group">
				    <label>Number of right answer</label>
				    <input type="text" name="right_answer" class="form-control" placeholder="1, 2, 3 or 4?">
				  </div>
				</div>

				<div class="question">
					<h3>Question №2</h3>
				  <div class="form-group">
				    <label>Text of question</label>
				    <input type="text" name="text_of_question" class="form-control" placeholder="Enter the text of question">
				  </div>
				  <div class="form-group">
				    <label>Variant 1</label>
				    <input type="text" name="variant1" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Variant 2</label>
				    <input type="text" name="variant2" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Variant 3</label>
				    <input type="text" name="variant3" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Variant 4</label>
				    <input type="text" name="variant4" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Number of right answer</label>
				    <input type="text" name="right_answer" class="form-control" placeholder="1, 2, 3 or 4?">
				  </div>
				</div>

				<input type="submit" class="btn btn-primary" value="Сreate test">
			</form>
		</div>
	</body>
</html>