{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/test_creation.css' %}">

		<title>Test Creation</title>
	</head>

	<body>

		<form method="POST" action="">
        {% csrf_token %}
		<h3>Write the name of the test and the number of questions </h3>

            <div class="form-group">
		        <label for="exampleInputEmail1">Test name</label>
		        {{ form.test_name }}
		    </div>

		    <div class="form-group">
		        <label for="exampleInputPassword1">Number of the questions</label>
		        {{ form.questions_number }}
		    </div>

            {% if errors %}
            <div class="alert alert-danger" role="alert">{{errors.questions_number}}</div>
            {% endif %}


            <!--
            <div class="form-group">
		    <label for="exampleInputEmail1">Test name</label>
		    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter test name">
		  </div>

		  <div class="form-group">
		    <label for="exampleInputPassword1">Count of questions</label>
		    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="50">
		  </div>-->

		  <input type="submit" class="btn btn-primary" value="Сontinue">
            <a href="{% url 'profile' %}" class="btn btn-danger">Go back to profile</a>
		</form>
	</body>
</html>