{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">

		<title>Profile</title>
	</head>

	<body>
		<h1>All tests</h1>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name of test</th>
		      <th scope="col">All my attempts</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>//here test name//</td>
		      <td>
		      	<a href="/all_my_attempts">
		      		Look 
		      	</a>
		      </td>
		      <td>
		      	<a href="/start_test">
		      		Start test 
		      	</a>
		      </td>
		    </tr>
		    
		    <tr>
		      <th scope="row">2</th>
		      <td>//here test name//</td>
		      <td>
		      	<a href="/all_my_attempts">
		      		Look 
		      	</a>
		      </td>
		      <td>
		      	<a href="/start_test">
		      		Start test 
		      	</a>
		      </td>
		    </tr>

		    <tr>
		      <th scope="row">3</th>
		      <td>//here test name//</td>
		      <td>
		      	<a href="/all_my_attempts">
		      		Look 
		      	</a>
		      </td>
		      <td>
		      	<a href="/start_test">
		      		Start test 
		      	</a>
		      </td>
		    </tr>


		  </tbody>
		</table>
	
	</body>
</html>