{% load static %}
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'startpage/css/base.css' %}">

		<title>Profile</title>
	</head>

	<body>


		<h1>All tests</h1>
        <div class="mt-1 ml-1 mb-1">
            <a href="{% url 'profile' %}">
            <button type="button" class="btn btn-primary"> Go to profile</button>
            </a>
        </div>

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name of test</th>
		      <th scope="col">All my attempts</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
          {% for test in tests %}
		    <tr>
		      <th scope="row">{{ forloop.counter }}</th>
		      <td>{{ test.test_name }}</td>
		      <td>
		      	<a href="/tests/{{test.id}}/all_my_attempts/">
		      		Look 
		      	</a>
		      </td>
		      <td>
		      	<a href="{{ test.id }}/start_test/">
		      		Start test 
		      	</a>
		      </td>
		    </tr>
          {% endfor %}



		  </tbody>
		</table>
	
	</body>
</html>